<%- locals = {:f => f} %>

<%= render "shared/error_messages", :target => f.object %>

<%= hook :admin_contact_topic_form, locals do %>

  <%= f.field_container :name do %>
    <%= f.label :name, t("name") %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :emails do %>
    <%= f.label :emails, t("emails") %> (<%= t('comma_delimited') %>) <span class="required">*</span><br />
    <%= f.text_field :emails, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :emails %>
  <% end %>

<% end %>
