<div class='toolbar'>
  <ul class='actions'>
    <li id="new_contact_topic_link">
      <%= button_link_to t("new_contact_topic"), new_object_url, {:remote => true, :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("contact_topics")%></h1>

<div id="new_contact_topic"></div>

<table class="index">
  <tr data-hook='admin_contact_topic_index_headers'>
    <th><%= t("name") %></th>
    <th><%= t("emails") %></th>
    <th data-hook='admin_contact_topic_index_header_actions'>
    </th>
  </tr>
  <% @contact_topics.each do |topic| %>
    <%- locals = {:topic => topic} %>
    <tr id="<%= dom_id topic %>" data-hook="admin_contact_topics_index_rows">
      <td><%= topic.name %></td>
      <td><%= topic.emails %></td>
      <td class="actions" data-hook="admin_contact_topic_index_header_actions">
        <%= link_to_edit topic  %>
        &nbsp;
        <%= link_to_delete topic  %>
      </td>
    </tr>
  <% end %>
</table>


